@import "../../../style-variables/global-variables.scss";

.products-filter-btns{
  margin-top: 10px;
  button{
    background: $white;
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 7px 10px;
    margin-right: 2px;
  }
}
.products-list-filter-box{
  display: flex;
  justify-content: space-between;
}
.products-list-filter-item{
  background: $white;
  width: 49%;
  padding: 11px;
  border-top: 2px solid $madktingBlue;
  text-align: center;
  margin-top: 10px;
  font-weight: lighter;
  h5{
    font-weight: normal;
  }
  .products-list-filter-item-bottom{
    display: none;
  }
}

.products-list-actions{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button{
    width: 90px;
    background: $white;
    border:1px solid #ddd;
    padding: 7px;
    border-radius: 4px;
    margin-right: 3px;
  }
}

.products-list-results{
  margin-top: 20px;
  border-top: 2px solid $madktingBlue;
  margin-bottom: 100px;
  .products-list-results-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    background: $white;
    align-items: center;
    font-weight: bold;
    padding: 15px 0 15px 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    div{
      &:nth-child(1){
        width: 130px;
      }
      &:nth-child(2){
        width: 100px;
      }
      &:nth-child(3){
        width: 100px;
      }
      &:nth-child(4), &:nth-child(5), &:nth-child(6),
      &:nth-child(7), &:nth-child(8), &:nth-child(9),
      &:nth-child(10){
        width: 85px;
      }
    }
  }
  .products-list-results-content-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 6px;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    &:nth-child(even){
      background: $white;
    }
    .products-list-results-content-data{
      width: 85px;
      font-size: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &:nth-child(1){
        width: 130px;
      }
      &:nth-child(3){
        width: 100px;
        margin-left: 15px;
      }
      img{
        width: 60px;
        vertical-align: middle;
      }
      span{
        margin-right: 12px;
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }
}

.products-list-footer{
  background: $white;
  display: flex;
  justify-content: space-between;
  padding: 45px 20px;
  .products-list-footer-pagination-wrapper{
    width: 400px;
    text-align: right;
    margin-top: -14px;
    font-size: 13px;

  }
  .products-list-footer-info-pagination{
    font-size: 13px;
    color: #767987;
  }
  .products-list-footer-pagination-prev{
    padding: 8px 19px;
    color: #90969c;
    border-top-left-radius: 3px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    cursor: pointer;
  }
  .products-list-footer-pagination-pages{
    div{
      cursor: pointer;
      &:nth-child(1){
        background: #057bff;
        padding: 9px 15px;
        color: $white;
      }
      &:nth-child(2){
        padding: 8px 15px;
        color: #057bff;
        border: 1px solid #ccc;
        margin-right: -1px;
        &.last-page{
          color: $white;
        }
      }
    }
  }
  .products-list-footer-pagination-next{
    cursor: pointer;
    padding: 8px 19px;
    color: #057bff;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    border-bottom-right-radius: 3px;
  }
}
