<div class="products-list-view">
  <div class="products-filter-btns">
    <button type="button" name="button">
      <span>
        <i class="fas fa-filter"></i>
      </span>
      Fecha Inicio
    </button>
    <button type="button" name="button">
      <span>
        <i class="fas fa-filter"></i>
      </span>
      Fecha Fin
    </button>
  </div>
  <div class="products-list-filter-box">
    <div class="products-list-filter-from products-list-filter-item">
      <div class="products-list-filter-item-top">
        <h5>
          Productos Desde
        </h5>
      </div>
      <div class="products-list-filter-item-bottom">
        <div class="">
          <input type="text">
        </div>
        <div class="">
          <input type="text">
        </div>
        <div class="">
          <div class="">
            <input type="text" placeholder="Referencia...">
          </div>
          <div class="">
            <input type="text" placeholder="Cliente...">
          </div>
        </div>
      </div>
    </div>
    <div class="products-list-filter-to products-list-filter-item">
      <div class="products-list-filter-item-top">
        <h5>
          Productos Hacia
        </h5>
      </div>
      <div class="products-list-filter-item-bottom">
        <div class="">
          <input type="text">
        </div>
        <div class="">
          <input type="text" >
        </div>
        <div class="">
          <div class="">
            <input type="text" placeholder="Referencia...">
          </div>
          <div class="">
            <input type="text" placeholder="Cliente...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list-actions">
    <button type="button" name="button">
      <span></span>
      Exportar
    </button>
    <button type="button" name="button">
      <span></span>
      Etiquetas
    </button>
    <button type="button" name="button">
      <span></span>
      Facturas
    </button>
  </div>
  <div class="products-list-results">
    <div class="products-list-results-header">
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        <input type="checkbox">
      </div>
      <!-- End Header Item  -->
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        Nombre
      </div>
      <!-- End Header Item  -->
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        Precio
      </div>
      <!-- End Header Item  -->
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        Stock
      </div>
      <!-- End Header Item  -->
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        SKU
      </div>
      <!-- End Header Item  -->
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        Ancho(CM)
      </div>
      <!-- End Header Item  -->
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        Alto(CM)
      </div>
      <!-- End Header Item  -->
      <!-- Header Item  -->
      <div class="products-list-result-header-item">
        Acciones
      </div>
      <!-- End Header Item  -->
    </div>
    <div class="products-list-results-items-wrapper">
      <!-- Result Item -->
      <div class="products-list-results-content-item" *ngFor="let product of productList">
        <div class="products-list-results-content-data">
          <span>
            <input type="checkbox">
          </span>
          <img [src]="product.images[0].url_source" alt="">
        </div>
        <div class="products-list-results-content-data">
          {{product.name}}
        </div>
        <div class="products-list-results-content-data">
          {{product.price}}
        </div>
        <div class="products-list-results-content-data">
          {{product.stock}}
        </div>
        <div class="products-list-results-content-data">
          {{product.sku}}
        </div>
        <div class="products-list-results-content-data">
          {{product.shipping_width}}
        </div>
        <div class="products-list-results-content-data">
          {{product.shipping_height}}
        </div>
        <div class="products-list-results-content-data">
          <span [routerLink]="['/products/' + product.pk]">
            <i class="far fa-eye"></i>
          </span>
          <span>
            <i class="fas fa-download"></i>
          </span>
          <span>
            <i class="fas fa-times"></i>
          </span>
        </div>
      </div>
      <!-- End Result Item -->
    </div>
    <div class="products-list-footer">
      <div class="products-list-footer-info-pagination">
        Mostrando del {{numberBase}} al {{numberBaseTo}} de {{resultsLength}} resultados
      </div>
      <div class="products-list-footer-pagination-func">
        <div class="products-list-footer-pagination-wrapper">
          <div class="products-list-footer-pagination-prev inline" (click)="prevPage()" [ngClass]="{'none-events': isLoadingProducts}">
            Anterior
          </div>
          <div class="products-list-footer-pagination-pages inline">
            <div class="inline" [ngClass]="{'none-events': isLoadingProducts}">
              {{currentPage}}
            </div>
            <div class="inline next-page-number" (click)="nextPage()" [ngClass]="{'none-events': isLoadingProducts, 'last-page': isSmallerByOne}">
              {{nextPageNumber}}
            </div>
          </div>
          <div class="products-list-footer-pagination-next inline" (click)="nextPage()" [ngClass]="{'none-events': isLoadingProducts}">
            Siguiente
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
