@import "../../style-variables/global-variables.scss";

.navbar-component{
  background: $white;
  height: 60px;
  border-top: 5px solid $madktingBlue;
  display: flex;
  justify-content: space-between;
  color: #767987;
  align-items: center;
  img{
    width: 130px;
    margin-left: 20px;
  }
}
