<section class="products-detail-view">
  <div class="products-detail-horizontal-wrapper">
    <!-- Section Detail Item -->
    <div class="products-detail-section-item">
      <div class="products-detail-section-item-title">
        <span>
          <i class="fas fa-box"></i>
        </span>
        Información básica
      </div>
      <div class="products-detail-section-item-content">
        <div>
          <img [src]="image.url" alt="" *ngFor="let image of productItem.images">
        </div>
        <div class="">
          <ul>
            <li>
              <b>Nombre:</b> {{productItem.name}}
            </li>
            <li>
              <b>ID:</b> {{productItem.pk}}
            </li>
            <li>
              <b>SKU:</b> {{productItem.sku}}
            </li>
            <li>
              <b>Stock:</b> {{productItem.stock}}
            </li>
            <li>
              <b>Precio:</b> {{productItem.price}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Section Detail Item -->
    <!-- Section Detail Item -->
    <div class="products-detail-section-item">
      <div class="products-detail-section-item-title">
        <span>
          <i class="fas fa-box"></i>
        </span>
        Variantes
      </div>
      <div class="products-detail-section-item-content">
        Por el momento no hay variantes de este producto.
      </div>
    </div>
    <!-- End Section Detail Item -->
  </div>
  <div class="products-detail-horizontal-wrapper">
    <!-- Section Detail Item -->
    <div class="products-detail-section-item">
      <div class="products-detail-section-item-title">
        <span>
          <i class="fas fa-box"></i>
        </span>
        Descuentos
      </div>
      <div class="products-detail-section-item-content">
        <b>Descuento hasta el:</b> {{productItem.discount_to | date: 'dd/MM/yyyy'}}
      </div>
    </div>
    <!-- End Section Detail Item -->
    <!-- Section Detail Item -->
    <div class="products-detail-section-item">
      <div class="products-detail-section-item-title">
        <span>
          <i class="fas fa-box"></i>
        </span>
        Medidas
      </div>
      <div class="products-detail-section-item-content">
        <ul>
          <li>
            <b>Ancho:</b> {{productItem.shipping_width}} {{productItem.dimensions_unit}}
          </li>
          <li>
            <b>Alto:</b> {{productItem.shipping_height}} {{productItem.dimensions_unit}}
          </li>
          <li>
            <b>Profundidad:</b> {{productItem.shipping_depth}} {{productItem.dimensions_unit}}
          </li>
          <li>
            <b>Peso:</b> {{productItem.weight}} {{productItem.weight_unit}}
          </li>
        </ul>
      </div>
    </div>
    <!-- End Section Detail Item -->
  </div>
  <div class="products-detail-horizontal-wrapper">
    <!-- Section Detail Item -->
    <div class="products-detail-section-item">
      <div class="products-detail-section-item-title">
        <span>
          <i class="fas fa-box"></i>
        </span>
        Orden
      </div>
      <div class="products-detail-section-item-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <!-- End Section Detail Item -->
    <!-- Section Detail Item -->
    <div class="products-detail-section-item">
      <div class="products-detail-section-item-title">
        <span>
          <i class="fas fa-box"></i>
        </span>
        Orden
      </div>
      <div class="products-detail-section-item-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <!-- End Section Detail Item -->
  </div>
</section>
