@import "../../../style-variables/global-variables.scss";
.order-detail-view{
  margin-top: 10px;
}
.order-detail-horizontal-wrapper{
  display: flex;
  justify-content: space-between;
  .order-detail-section-item{
    width: 49%;
    background-color: #fff;
    margin: 8px;
    border-top: 2px solid #49a4ca;
    padding: 20px;
    font-size: 13px;
    color: #767987;
    .order-detail-section-item-title{
      margin-bottom: 20px;
      font-size: 15px;
    }
    .order-detail-section-item-content{
      div{
        &:nth-child(1){
          text-align: center;
        }
      }
      ul{
        list-style: none;
        line-height: 23px;
        padding: 0;
      }
      img{
        width: 80px;
        display: inline-block;
      }
    }
  }
}

/** Media querys **/

@media screen and (max-width: 915px) {
  .order-detail-horizontal-wrapper{
    flex-wrap: wrap;
    .order-detail-section-item{
      width: 90%;
    }
  }
}
