<section class="products-parent-component">
  <div class="go-to-all" *ngIf="isInDetail">
    <i class="fas fa-arrow-left" [routerLink]="['/']"></i>
    <span [routerLink]="['/']">
      Ver todos
    </span>
  </div>
  <div class="products-tabs-list">
    <!-- Fixed Tab -->
    <div class="products-tabs-item active">
      <span>
        <i class="fas fa-shopping-cart"></i>
      </span>
      <span>
        Productos
      </span>
      <span>
        30
      </span>
    </div>
    <!-- End Fixed Tab -->
  </div>
  <div class="products-child-views">
    <products-list [hidden]="isInDetail"></products-list>
    <products-detail [hidden]="!isInDetail"></products-detail>
  </div>
</section>
