// Generic variables
$white: #fff;
$black: #000;
$madktingBlue: #49a4ca;
$bodyBgColor: #f2f2f2;
$primaryFont: 'Roboto';

// Generic styles
body{
  margin: 0;
  padding: 0;
  background: $bodyBgColor;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $primaryFont;
}

*{
  box-sizing: border-box;
  outline: 0;
}

h1, h2, h3, h4, h5{
  padding: 0;
  margin: 0;
}

.views-wrapper{
  display: inline-block;
  width: calc(100% - 300px);
  max-width: 880px;
}

.inline{
  display: inline-block;
}

.none-events{
  pointer-events: none;
}
